@model IEnumerable<Trencadis.AspNetCoreDemoApp.Core.POCO.ContactListEntry>

@{
  ViewData["Title"] = "Contact List";
}

@section styles {
  <style type="text/css">
    .header-row {
      border: 1px solid #000000;
      background-color: #d5d5d5;
      font-weight: bold;
    }

    .content-row {
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
    }

    .content-row:nth-child(even){
      background-color:#e3f0fa;
    }

      .content-row:last-child {
        border-bottom: 1px solid #000000;
      }
  </style>
}

<h2>Contact List Page</h2>

<div class="container-fluid">
  <div class="row header-row">
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-3 text-center">#Id</div>
        <div class="col-xs-3">Name</div>
        <div class="col-xs-3">Phone</div>
        <div class="col-xs-3">Email</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 text-center">Actions</div>
  </div>
  @foreach (var entry in Model)
  {
  <div class="row content-row">
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-3 text-center">@entry.Id</div>
        <div class="col-xs-3">@entry.EntryName</div>
        <div class="col-xs-3">@entry.PhoneNumber</div>
        <div class="col-xs-3">@entry.Email</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 text-center">...</div>
  </div>
  }
</div>

